alias ls='ls -G --color'
alias ll='ls -l -G --color'
alias la='ls -a -G --color'
alias lla='ls -l -a -G --color'
alias celar='clear'
alias cls='clear'
alias clera='clear'
alias vim='nvim'
alias nvimconfig='nvim $NVIM_CONFIG/init.lua'
alias i3config='nvim -O $I3_COMMON_CONFIG $I3_CONFIG -c "set syntax=i3config"'
alias polybarconfig='nvim $POLYBAR_CONFIG'
alias zrc='nvim ~/.zshrc'
alias szrc='source ~/.zshrc'
alias install='sudo pacman -S'
alias search='sudo pacman -Ss'
alias purgeswaps='rm ~/.local/state/nvim/swap/*.swp'
alias again='fc -s'
alias k='kubectl'
alias ky='kubectl -o yaml'
alias kwhoami='kubectl config current-context'
alias glint='golangci-lint run'
alias terraform='tofu'
alias tf='tofu'
alias tfmt='tofu fmt -recursive'
alias gimme='. gimme.zsh'

alias fullscreen='xrandr --output DisplayPort-0 --mode 5120x1440'
alias halfscreen='xrandr --output DisplayPort-0 --mode 2560x1440'
