[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = itskleonow@gmail.com
	name = Kleo Davidson
	signingkey = E659440831D7BC3F
[push]
	autoSetupRemote = true
[core]
	editor = nvim
	excludesfile = /home/kleo/.gitignore
[commit]
	gpgsign = true
[init]
	defaultBranch = main
