configuration {
    modes: [ combi ];
    combi-modes: [ window, drun ];
}

@theme "~/.config/rofi/lb-catppuccin-mocha.rasi"

entry {
    placeholder: "...";
}

#window {
  height: 99%;
  width: 30em;
  location: west;
  anchor: west;
}
